<div class="simulator-panel">
  <div class="simulator-options">
    <label for="word">Palabra a validar</label>
    <input class="form-control"  type="text" [(ngModel)]="inputWord" id="word">

    <!--<label for="speed">Speed: <span>{{ simSpeed }}</span></label>
    <input type="range" [(ngModel)]="speed" id="speed" #speedRange (change)="updateSpeed(speedRange.value)">-->

    <!--<button (click)="toggleState()">{{ startText }}</button>-->
    <button  class="btn btn-outline-primary" (click)="step()">Paso a paso</button>
    <button  class="btn btn-outline-success" (click)="reset()">Reiniciar</button>
  </div>
</div>
