<div class="contextual-tools">
  <div id="finiteTools" class="contextual-wrapper" *ngIf="toolbarEnableState.finiteautomaton">
    <div id="deleteTool" class="tool delete" (click)="onToolClick('delete', false)"></div>
    <div id="newFiniteState" class="tool newFiniteState" [class.active]="selectedTool == 'newFiniteState'"
      (click)="onToolClick('newFiniteState', true)"></div>
    <div id="newFiniteTransition" class="tool newFiniteTransition" [class.active]="selectedTool == 'newFiniteTransition'"
      (click)="onToolClick('newFiniteTransition', true)"></div>
  </div>
</div>
