<div class="sidebar">
  <a routerLinkActive="active" routerLink="diagram">
    <div class="menu-item">
      <span>Construcción</span>
    </div>
  </a>

  <a routerLinkActive="active" routerLink="diagram/simulator">
    <div class="menu-item indent">
      <span>Diagrama de trancisión</span>
    </div>
  </a>

  <a routerLinkActive="active" routerLink="options">
    <div class="menu-item">
      <span>Opciones</span>
    </div>
  </a>
</div>
<div class="diagram-wrapper">
  <router-outlet></router-outlet>
</div>
